@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  /* HSL COLOR MODE */

  --skin-color: hsl(190, 35%, 25%);
  --title-color: rgb(83, 198, 196);
  --name-color: hsl(180, 45%, 75%);
  --text-color: hsl(180, 30%, 70%);
  --body-color: rgb(27, 38, 50);
  --box-color: rgb(41, 79, 86);
  --scroll-bar-color: hsl(160, 30%, 25%);
  --scroll-thumb-color: hsl(170, 40%, 35%);

  /*-------------- FONT AND TYPOGRAPHY ---------------*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --h1-font-size: 3.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.25rem;
  --section-title-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*-------------- FONT WEIGHT ---------------*/
  --font-medium: 500;
  --font-bold: 600;
}

/* =====================
  Responsive Media Queries
===================== */

@media (max-width: 768px) {

  /*** Jumbotron ***/
  .jumbotron .logo {
    max-width: 120px;
  }

  /*** Mobile Nav ***/
  .navbar-toggle {
    height: 36px;
    margin-bottom: 22px;
    margin-top: 22px;
  }

  .navbar-toggle .glyphicon {
    color: var(--text-color);
    top: -5px;
  }

  .skillset .row.g-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .skillset .col-6 {
    max-width: 33.33%; 
  }

  .skillset .row img {
    max-width: 55px; 
    height: 50px; 
    margin-bottom: 5px; 
  }

  .skillset .row p {
    font-size: 0.9rem;
  }

  .timeline-p {
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }

  .timeline-body .show-more {
    text-align: center;
    padding-block: 4px;
    color: var(--title-color);
    font-size: medium;
    font-weight: var(--font-medium);
    cursor: pointer;
  }

  .timeline-body .show-more:hover {
    color: white;
    text-decoration: underline;
  }
}
@media (min-width: 768px) {
  .skillset {
    position: relative;
    max-height: fit-content;
    top: 0;
    overflow: hidden;
  }

  .timeline {
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .timeline-p {
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }

  .timeline-body .show-more {
    text-align: center;
    padding-block: 4px;
    color: var(--title-color);
    font-size: medium;
    font-weight: var(--font-medium);
    cursor: pointer;
  }

  .timeline-body .show-more:hover {
    color: white;
    text-decoration: underline;
  }

  
}
@media (max-width: 991px) {
  /*** Resume ***/
  .year {
    text-align: left;
  }
}

/* =====================
  SVG Styles
===================== */

svg {
  padding-top: 1rem;
  max-width: 36vw;
}
#svg-contents {
  transition: transform 0.5s ease-in-out; /* Adjust duration and timing as needed */
}
#svg-contents.translated {
  transform: translateY(0px); /* Translated position */
}

/* =====================
  General Styles
===================== */
html {
  font-size: 110%;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--body-font);
  font-size: 1rem;
  line-height: 1.5;
}

.row{
  margin-top: 2rem;
}

h1 {
  font-family: var(--body-font);
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  color: var(--name-color);
}
h2 {
  font-family: var(--body-font);
  font-size: var(--h3-font-size);;
  font-weight: var(--font-medium);
  padding-bottom: 0.5rem;
}
h3 {
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}
h4 {
  color: var(--box-color);
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

small {
  line-height: 1;
}

a {
  color: var(--title-color);
}

hr {
  border-color: #cdd1cf;
  margin: 30px 0 60px;
}

/* =====================
  Navbar Styles
===================== */

#main-nav .nav a{
  color: var(--title-color);
}
#main-nav .nav a:hover,
#main-nav .nav .active a{
  color: var(--body-color);
}
.navbar-default {
  font-weight: var(--font-medium);
  background-color: transparent;
  border: none;
  height: 80px;
  left: 0;
  margin-bottom: 0;
  padding: 10px 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}
.navbar-header {
  height: 80px;
}
.navbar-nav {
  margin-bottom: 0;
  margin-top: 0;
}
.navbar-brand,
.navbar-nav>li>a {
  font-family: var(--body-font);
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-brand {
  font-size: var(--normal-font-size);
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}
.navbar-brand .logo {
  margin-right: 15px;
  margin-top: -12px;
  max-height: 90px;
  margin-left: 10px;
}
.navbar-brand span {
  color: var(--title-color);
}
.navbar-nav>li>a,
.navbar-nav>li>button {
  color: var(--title-color);
  height: 36px;
  line-height: 36px;
  margin-top: 22px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: var(--title-color);
  color: var(--body-color);
}

/* Fixed Menu */
.menu-fixed {
  background-color: var(--body-color);
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(8, 33, 30, 0.15);
  height: 60px;
  padding-top: 0;
  position: fixed;
}
.menu-fixed .navbar-header {
  height: 60px;
}
.menu-fixed .navbar-toggle,
.menu-fixed .navbar-nav>li>a {
  margin-top: 13px;
}
.menu-fixed .navbar-brand {
  display: block;
  margin-top: 0;
  opacity: 1;
}

/* =====================
  Jumbotron Styles
===================== */
.jumbotron {
  background: linear-gradient( to bottom , var(--body-color), var(--skin-color), var(--skin-color), var(--body-color));
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 510px;
  position: relative;
  width: 100%;
}
.jumbotron .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.jumbotron .row {
  padding-bottom: 45px;
}
.jumbotron .logo {
    padding-top: 1rem;
    width: 60%;
    border-radius: 40%;
    align-items: center;
}
.jumbotron .title {
  color: var(--name-color);
}
.jumbotron p {
  margin: 0;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium)
}

/* =====================
  Socials Styles
===================== */

.home__social {
  top: 1rem;
  left: -15px;
}
.home__social-link,
.home__social-link:focus {
  display: inline-flex;
  font-size: 1.7rem;
  color: var(--text-color);
  padding-right: 0.5rem;
  text-decoration: none;
}
.home__social-link:hover{
  background-color: transparent;
  color: var(--text-color);
  transform: translateY(0.25rem);
  text-decoration: none;
}

/* =====================
  About Styles
===================== */

.about {
  background: rgb(83, 198, 196);
  background-size: cover;
  height: 70%;
  padding-top: 1%;
  position: relative;
  width: 100%;
}

.about p {
  margin: 1rem;
  color: var(--body-color);
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-weight: var(--font-medium);
}

.about img {
  display: block;
  border-radius: 10% 0% 10% 7%;
  width: 100%;  
  height: auto; 
  max-width: 26vw; 
  margin-top: 3%;
  margin-left: 0;
  object-fit: contain; 
}

.about .about-title{
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.about a,
.about span,
.about a:focus {
  color: var(--body-color);
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-weight: bold;
}

.about a {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.about a:hover {
  color: rgba(255, 255, 255, 0.7);
  transform: translateY(-0.25rem);
}

/* =====================
  Experience Styles
===================== */

#experience {
  background: var(--title-color);
  background-size: cover;
  min-height: 100vh; /* Ensure it fills the screen */
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: clamp(var(--smaller-font-size), 3vw, var(--normal-font-size));
}
#experience .container {
  width: 100%;
  max-width: 1200px; /* Keeps it responsive */
  padding: 0 1.5rem;
}
#experience .row {
  align-items: center;
  margin-top: 0.5rem;
}
#experience h1 {
  color: var(--body-color);
  font-size: clamp(2.5rem, 5vw, 3rem);
  font-weight: var(--font-bold);
}
#experience h2 {
  color: var(--box-color);
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: var(--font-bold);
}
#experience h3 {
  color: var(--skin-color)
}
.no-padding,
.no-padding i,
.no-padding p {
  margin: 0 !important;
  padding-top: 3px;
  padding-bottom: 3px;
}
.skillset {
  padding-bottom: 2rem;
}
.skillset p{
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  margin: 0 !important;
}
.skillset img{
  background-color: rgba(214, 218, 230, 0.5);
  padding: 7px;
  border-radius: 20%;
  max-width: 55px;
  transition: transform 0.2s ease-in-out;
}
.skillset img:hover {
  transform: scale(1.2);
}

/* =====================
  Timeline Styles
===================== */

.timeline {
  position: relative;
  color: var(--text-color);
  min-height: 100%;
}
.timeline::before {
  content: '';
  position: absolute;
  left: 20px; 
  top: 0;
  bottom: -100px;
  width: 4px;
  background: var(--box-color);
  height: 800px;
}
.timeline-container {
  position: relative;
  margin-bottom: 2rem;
}
.timeline-icon {
  width: 50px;
  height: 50px;
  background: var(--skin-color);
  border-radius: 50%;
  font-size: 1.3rem;
  padding-left: 10px;
  padding-top: 8px;
}
.timeline-body {
  transform: translateY(-20px);
  background: var(--skin-color);
  opacity: 0.9;
  border-radius: 15px;
  margin-left: 70px; 
  padding: 20px;
  box-shadow: 5px 7px 6px rgba(8, 33, 30, 0.4);
}
.timeline-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  color: white;
}
.timeline-subtitle {
font-weight: var(--font-medium);
font-size: var(--small-font-size);
}
.timeline-year {
font-style: italic;
opacity: .6;
font-weight: var(--font-medium);
font-size: var(--smaller-font-size);
}
.timeline-p{
margin-top: 3%;
font-size: var(--smaller-font-size);
}

/* =====================
  Projects Styles
===================== */
#projects {
  background: radial-gradient(circle, var(--name-color), var(--title-color));
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: clamp(var(--smaller-font-size), 3vw, var(--normal-font-size));
  overflow-x: hidden;
  position: relative;
}

#projects .row {
  align-items: center;
  margin-top: 0.5rem;
}
#projects .container {
  width: 100%;
  max-width: 1200px; /* Keeps it responsive */
  padding: 0 1.5rem;
}
#projects h1 {
  color: var(--box-color);
  font-size: clamp(2.5rem, 5vw, 3rem);
  font-weight: var(--font-bold);
}
#projects .carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 50%;
  font-size: 2rem;
  width: auto;
  opacity: 0.8;
  color: var(--body-color);
}
#projects .carousel-control.left {
  left: 0;
}
#projects .carousel-control.right {
  right: 0;
}
#projects .carousel-control:hover {
  color: var(--body-color);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#projects .carousel-inner {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

#projects .carousel-inner .row{
  display: flex;
  width: 100%;
}

#projects .carousel-inner img {
  height: 420px;
  width: auto; 
  max-width: 100%; 
  object-fit: contain; 
  display: block; 
}

#projects .carousel-inner > div {
  flex: 0 0 100%;
  overflow: hidden;
}

#projects .carousel-caption {
  left: 10px;
  position: relative; 
  text-align: left; 
  text-shadow: none;
  background: rgba(255, 255, 255, 0.7); 
  border-radius: 7%; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  color: #333;
  overflow: hidden;
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;
  word-wrap: break-word;
  min-height: 250px;
  max-height: 250px;
}

.card {
  background-color: rgba(41, 79, 86, 0.9);
  box-shadow: 5px 7px 6px rgba(8, 33, 30, 0.4);
  padding: 20px;
  border-radius: 8%;
}

.card h2 {
  font-size: clamp(1.2rem, 2vw, 2rem);
  color: var(--body-color);
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
}

.card h3 {
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  color: rgba(8, 33, 30, 0.5);
  margin-bottom: 0.5rem;
  margin-top: 0.1rem;
}

.card h4 {
  font-size: clamp(0.6rem, 1vw, 0.8rem);
  margin-bottom: 1.8rem;
}

.card .button {
  background-color: var(--title-color);
  border-color: var(--title-color);
  padding: 6px;
}
.card .button:hover {
  background-color: rgba(41, 79, 86, 0.9);
  color: var(--name-color);
}

#portfolio .carousel-indicators {
  position: relative;
}

#portfolio .carousel-indicators li {
  border-radius: 20px;
  height: 15px;
  width: 15px;
}
#portfolio .carousel-indicators li.active {
  height: 17px;
  width: 17px;
}

/*** Project Modals ***/
.hero {
  margin: 30px auto;
  max-width: 900px;
  width: 100%;
}

.label.tag {
  background-color: var(--box-color);
  border-radius: 0;
  font-weight: normal;
}

/* To override button alignment in modals */
.center {
  text-align: center;
}

/* =====================
  Footer Styles
===================== */
#contact {
  background: linear-gradient( to bottom , var(--box-color), var(--box-color), var(--box-color), var(--body-color));
  width: 100%;
  padding-top: 3%;
}

#contact .container,
#contact .row {
  padding-left: 10;
  padding-right: 10;
}

#contact h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: var(--font-bold);
  padding-bottom: 40px;
}

#contact .heart{
  color: var(--box-color)
}

#contact .i{
  color: var(--title-color);
}

footer{
  background: rgb(83, 198, 196, 0.8);
}

footer h3{
  color: rgb(27, 38, 50, 0.9);
}

.footer-content h2 {
  color: var(--box-color);
  font-size: 1rem;
  font-weight: var(--font-bold);
  margin-bottom: 0;
}

#portfolio-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

#portfolio-list li {
  margin: 0 10px; /*spacing between links */
}

#portfolio-list a,
#portfolio-list a:focus {
  text-decoration: none;
  font-weight: bold;
  color: var(--name-color);
}

#portfolio-list a:hover {
  text-decoration: none;
  color: var(--box-color);
} 

/* =====================
  Containers
===================== */
section.row,
footer.row {
  padding-top: 30px;
  padding-bottom: 40px;
}

/* =====================
  Modal
===================== */
.modal-title {
  color: var(--title-color);
  font-size: 2.5rem;
}

.modal-dialog.wide {
  width: 90%;
}

.modal-dialog.wide .row {
  margin: 0 0 30px;
}

.modal-dialog.wide .row .row {
  margin-left: -15px;
  margin-right: -15px;
}

.modal-header {
  border: none;
  padding: 30px 30px 0;
}

.modal-header .close {
  font-size: 2.5rem;
}

.modal-content {
  background-color: white;
  border: none;
  box-shadow: 0 3px 6px rgba(8, 33, 30, 0.2);
}

.modal-body {
  padding: 30px;
}

.modal-content .button:hover i,
.modal-content .button:focus {
  transform: none;
  text-decoration: none;
}

.modal-body li {
  margin-bottom: 9px;
}

.modal-footer {
  padding: 30px 0 15px;
}

/* Fade Up Animation */
.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, 100vh, 0);
  -ms-transform: translate3d(0, 100vh, 0);
  transform: translate3d(0, 100vh, 0);
}

.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.modal-backdrop {
  background-color: var(--body-color);
  z-index: 1025;
}

.modal-backdrop.in {
  opacity: 0.9;
}

textarea
{
   resize: none;
}

/* =====================
  Buttons
===================== */

.button-row {
  display: flex;
  justify-content: center;
  gap:10px;
  flex-wrap: wrap;
}

.button {
  display: inline-flex;
  border: 2px solid var(--skin-color);
}

.button:hover,
.modal-button:hover {
  background-color: var(--skin-color);
  color: var(--title-color);
  border: 2px solid var(--title-color);
}

.button:hover i {
  transform: translateX(0.35rem);
  transition: 0.3s;
}

.button,
.modal-button {
  background-color: var(--title-color);
  color: var(--body-color);
  padding: 0.7rem 1.1rem;
  border-radius: 0.2rem;
  font-weight: var(--font-medium);
  font-size: medium;
}

.outline {
  background-color: transparent;
  border: 1px solid var(--skin-color);
  color: var(--box-color);
}

/* =====================
  Icons and Images
===================== */
.icon {
  max-height: 90px;
}

/* =====================
  Resume Modal
===================== */
#resumeModal h4 {
  margin-top: 0;
}

.year {
  text-align: right;
}

/* =====================
  Other Styles
===================== */
.mb-0 {
  margin-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-30 {
  margin-top: 30px;
}

.bg-shadow {
  box-shadow: 0 1px 3px rgba(8, 33, 30, 0.5);
}

.bg-custom {
  background-color: rgba(214, 218, 230, 0.5);
}

.dashed {
  border-top: 2px dashed var(--box-color);
}
